<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="container d-flex flex-column align-items-center p-3 my-3 bg-white text-center border shadow-lg" style="max-width: 500px;">
    <div class="custom-title p-3 mb-3" style="min-width: 475px;">
      <h2 class="font-weight-bold">Buscar Facturas</h2>
    </div>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group" style="min-width: 350px; padding: 20px;">
        <label for="phoneNumber" style = "font-size: 20px;">Número de Teléfono:</label>
        <input type="text" class="form-control" formControlName="phoneNumber">
        <div *ngIf="formUsuarios.get('phoneNumber')?.errors?.['required'] && incorrecto1 === 0" class="text-danger">
          El nombre es requerido.
      </div>
      </div>
      <button type="submit" class="custom-btn" data-bs-dismiss="modal" (click)="irMostrarFactura()">Buscar</button>
    </form>
  </div>
</div>