/* You can add global styles to this file, and also import other style files */
.custom-title {
    background-color: #132a42; /* Cambia esto al color que desees */
    color: white;
    border-radius: 5px;
}

.custom-btn {
background-color: #132a42; /* Color de fondo personalizado */
color: white; /* Color del texto */
border: none; /* Sin borde */
padding: 10px 20px; /* Espaciado interno */
text-align: center; /* Alineación del texto */
text-decoration: none; /* Sin subrayado */
min-width: 75px;
max-width: 100px;
border-radius: 5px; /* Bordes redondeados */
cursor: pointer; /* Cambia el cursor al pasar el ratón */
font-size: 20px;
font-weight: bold;
}

.custom-btn:hover {
background-color: #193553; /* Color de fondo al pasar el ratón */
}
